<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
    <div>
        <h2 th:text="'Ticket Price = ' + ${ticketPrice}"></h2>
    </div>
    <a class="btn btn-default" href="/index.html">Back</a>
</body>
</html>